body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url(flappybirdbg.png);
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
}